{% extends 'login_register_app/base_navigation.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
<title>NUNU Check Email</title>
{% endblock %}

{% block body_block %}
<div class="container-fluid bg-dark-theme ">


    <div class="jumbotron m-auto form-control p-5 text-center ">
        <img src="{% static 'img/t.gif' %}" class="mb-5" style="width: 55px;" alt="">
        <h1 class="text-center alert alert-primary">Check Your Email For Verification</h1>
    </div>
</div>
{% endblock %}