* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
}

.navbar-brand >img {
    width: 55px;
}

.help-block {
    color: red;
}

body {
    background-image: url('../img/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family: var(--body-font);
    position: relative;

}
h1,h3{
    color: var(--theme-color);
}

.jumbotron {
    background-color: var(--theme-bg-color);
    
    width: min(95%,600px);
}

.form-control {
    background-color: var(--theme-bg-color);
    border: 1px solid var(--border-color);

}
.dark-theme{
    background-color: var(--theme-bg-color);
}

.bg-dark-theme{
    height: 100vh;
}
.container-fluid{
    background-color: var(--theme-bg-color);
    backdrop-filter: blur(20px);
}
.form-group label.control-label{
    width: 100%;
}
.jumbotron input{
    padding-left: 40px;
    background-color: var(--search-bg);
    border: 1px solid var(--border-color);
    outline:none ;
    color: var(--inactive);

}
.jumbotron label,
.form-group label {
    color: var(--inactive-color);
}
.btn:hover{
    border-color: #00F2DE !important;
    color: #00F2DE !important;
}


.eye{
    top: 17%;
    left: calc(10% - 2vw);
}
span.help-block {
    color: red;
    font-size: 12px;
}

.myForm label.control-label,
.myForm div {
    width: 100%;
}

p.help-block,
.myForm ul li {
    font-size: 12px;

}
input[type=file]{
    width: 100%;
}
.h1{
    font-weight: bolder;
}

.fas {
    cursor: pointer;
}